* {
    font-family: 'Inter';
    font-size: 15px;
}

nav {
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background: white;
    border: 0.1rem solid gray;
}

a {
    text-decoration: none;
    color: black;
}

.left-nav {
    padding-left: 50px;
}

.my-icon {
    height: 100px;
    width: 100px;
    border: 0.1rem solid gray;
}

.mid-nav {
    display: flex;
    gap: 50px;
}

.success-section {
    display: flex;
    position: relative;
}

.success-button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}

.success-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 100%;
    background: white;
    padding: 5px 10px 5px 10px;
    flex-direction: column;
    gap: 5px;
}

.dropdown-item {
    font-size: 12px;
}

b {
    font-size: inherit;
}

.dropdown-divider {
    border-bottom: 1px solid black;
    margin-left: -10px;
    margin-right: -10px;
}

.success-section:hover .success-dropdown {
    display: flex;
}

.right-nav {
    padding-right: 50px;
}

.book-link {
    border: none;
    border-radius: 5px;
    background: #F5BE29;
    padding: 15px;
    cursor: pointer;
}