* {
    font-family: 'Inter';
    font-size: 15px;
}

nav {
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background: white;
    border: 0.1rem solid gray;
}

a {
    text-decoration: none;
    color: black;
}

.left-nav {
    padding-left: 50px;
}

.my-icon {
    height: 100px;
    width: 100px;
    border: 0.1rem solid gray;
}

.mid-nav {
    display: flex;
    gap: 50px;
}

.success-link {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}

.right-nav {
    padding-right: 50px;
}

.book-button {
    border: none;
    border-radius: 5px;
    background: #F5BE29;
    padding: 15px;
    cursor: pointer;
}