/* these are global styles */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Poppins:wght@400;700&display=swap");

@import "tailwindcss";

@theme {
  /* colors */
  --color-*: initial;
  --color-hero-black: rgba(0, 0, 0, 1);
  --color-black: rgba(66, 66, 66, 1);
  --color-gray: rgba(51, 51, 51, 1);
  --color-light-gray: rgba(217, 217, 217, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-off-white: rgba(249, 249, 249, 1);
  --color-gold: rgba(187, 161, 86, 1);
  --color-light-gold: rgba(204, 185, 128, 1);
  --color-lighter-gold: rgba(221, 208, 171, 1);
  --color-lightest-gold: rgba(241, 236, 221, 1);
  /* font */
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-dmsans: "DM Sans", sans-serif;
  /* shadow */
  --drop-shadow-hero: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

html,
body {
  overflow-x: hidden;
  @apply text-black;
  @apply font-poppins;
}
